version: '3.8'

services:
  nextjs-app:
    build:
      context: . # 指定 Dockerfile 所在的目录
      dockerfile: Dockerfile
    container_name: ai-blog
    restart: always # 容器退出时总是重启
    environment:
      - NODE_ENV=production
      - PORT=33000 # Next.js 应用监听的端口
    expose:
      - 33000 # 暴露 Next.js 应用的端口给其他服务
    networks:
      - app-network

  nginx:
    image: nginx:alpine # 使用轻量级的 Nginx 官方镜像
    container_name: nginx-proxy
    restart: always # 容器退出时总是重启
    ports:
      - "80:80" # 将主机上的 80 端口映射到 Nginx 容器的 80 端口
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # 挂载 Nginx 配置文件
    depends_on:
      - nextjs-app # 确保 Nginx 在 nextjs-app 启动后才启动
    networks:
      - app-network

networks:
  app-network:
    driver: bridge # 定义一个桥接网络，让两个服务可以互相通信
